<% provide(:title, 'About Us') %>

    <h1>Vinifera Wine Co.</h1>
    <h2>About Us</h2>
    <p>After discovering that the Mudgee wine region has similar climatic conditions to the Rioja region in Northern Spain, Vinifera owners, Tony and Debbie McKendry, on an inspired journey into the world of Spanish wine. Their resulting Tempranillo, Garnacha blends, Graciano and Gran Tinto wines are good-living reds that complement foods wonderfully.</p>